
.bg-navbar {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  transition: background-color 0.3s ease-in-out;
}

.bg-navbar.bg-solid {
  background-color: rgba(0, 0, 0, 0.8);
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  z-index: 1000;
}

.element {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid transparent;
  font-size: 1.125rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  text-align: center;
  margin: 0 1.5rem;
}

.element:hover {
  color: lightgray;
  border-bottom: 2px solid red;
}

@media (max-width: 768px) {
  .bg-navbar {
    position: relative;
    background-color: rgba(0, 0, 0, 1) !important; 
  }
  
  .md\\:hidden {
    display: block;
  }

  .hidden {
    display: none;
  }

  .nav-bar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav-bar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  nav.md\\:flex {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
  }

  nav.md\\:flex a {
    text-align: center;
  }
}
